@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #0C0C0C;
    --cor-secundaria: #EEE4B1;
    --cor-terciaria: #481E14;
    --cor-hover: #9B3922;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: #E2E2B6;
}

.cabecalho {
    padding: 2% 0 0 12%;
}

.cabecalho__menu {
    display: flex;
    align-items: flex-start;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover);
}

.apresentacao {
    flex: 1;
    padding: 6% 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 58px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
}

.titulo-destaque {
    color: #6EACDA;
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-style: normal;
}

.apresentacao__botoes-redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens filho de acordo com a orientação, se mudar o flex direction para column, vai alinhar na vertical */
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__botoes-redes-sociais__subtitulo{
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}

.apresentacao__botoes-redes-sociais__links {
    /* background-color: var(cor-terciaria); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 16px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
}

.apresentacao__botoes-redes-sociais__links:hover {
    background-color: var(--cor-hover);
}

.imagem-pb {
    /* object-fit: scale-down;
    width: 615px;
    height: 488px; */

    width: 50%;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    padding: 18px;
}

@media(max-width: 1024px) {

    .cabecalho {
        padding: 6% 0 0 6%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 6% 6%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .imagem-pb {
        width: 75%;
    }

}