@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #021526;
    color: #E2E2B6;
}

.cabecalho {
    padding: 2% 0 0 12%;
}

.cabecalho__menu {
    display: flex;
    align-items: flex-start;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #22D4FD;
    font-size: 24px;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: #1111FF;
}

.apresentacao {
    flex: 1;
    padding: 6% 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 58px;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 34px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titulo-destaque {
    color: #6EACDA;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__botoes-redes-sociais {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens filho de acordo com a orientação, se mudar o flex direction para column, vai alinhar na vertical */
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__botoes-redes-sociais__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
}

.apresentacao__botoes-redes-sociais__links {
    /* background-color: #22D4FD; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    padding: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #F6F6F6;
    border: 2px solid #22D4FD;
    border-radius: 8px;
}

.apresentacao__botoes-redes-sociais__links:hover {
    background-color: #272727;
}

.imagem-pb {
    object-fit: scale-down;
    width: 615px;
    height: 488px;

}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22D4FD;
    color: #021526;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    padding: 18px;
}